/* Custom styles for the swiper component */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper{
  background: #ffffff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  padding: 2rem;
}


.rounded-lg {
  border-radius: 0.5rem;
}

.text-gray-800 {
  color: #2d3748;
}

.text-gray-500 {
  color: #a0aec0;
}

.text-red-500 {
  color: #f56565;
}

.line-through {
  text-decoration: line-through;
}

.text-yellow-400 {
  color: #ecc94b;
}

.bg-red-500 {
  background-color: #f56565;
}

.bg-black {
  background-color: #000;
}

.hover\:bg-gray-700:hover {
  background-color: #4a5568;
}

.hover\:bg-gray-100:hover {
  background-color: #f7fafc;
}
